# Pandas

## モジュールのインポート

In [36]:
import pandas as pd
import numpy as np

## 1.Series

### 1.1 明示的なindex

In [37]:
data = np.arange(10)
sr = pd.Series(data)
sr

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [38]:
sr = pd.Series(data, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
sr

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

### 特殊辞書としてのSeries

In [39]:
dist_population = {
    "東京都": 13515271,
    "神奈川県": 9132508,
    "大阪府": 8839102,
    "愛知県": 7552873,
    "埼玉県": 7339768,
}
sr_population = pd.Series(dist_population)
sr

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

## 2.DataFrame

### 2.1 明示的なindexとcolumn

In [40]:
data = np.arange(12).reshape(3, 4)
df = pd.DataFrame(data, index=['a', 'b', 'c'], columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

### 2.2 特殊辞書としてのDataFrame

新しく面積のデータを追加してみます。

In [41]:
dist_area = {
    "東京都": 12194.05,
    "神奈川県": 2416.32,
    "大阪府": 1905.34,
    "愛知県": 5173.23,
    "埼玉県": 3797.75,
}
sr_area = pd.Series(dist_area)
sr_area

東京都     12194.05
神奈川県     2416.32
大阪府      1905.34
愛知県      5173.23
埼玉県      3797.75
dtype: float64

人口と面積のSeriesからDataFrameを作成します。

#### 辞書のリストからDataFrameを作成

In [42]:
df = pd.DataFrame({
    "人口": sr_population,
    "面積": sr_area
})
df

            人口        面積
東京都   13515271  12194.05
神奈川県   9132508   2416.32
大阪府    8839102   1905.34
愛知県    7552873   5173.23
埼玉県    7339768   3797.75

#### ndarrayからDataFrameを作成

In [43]:
np_array1 = np.arange(4)
np_array2 = np.arange(5, 9)

In [44]:
df = pd.DataFrame({
    "A": np_array1,
    "B": np_array2
})
df

   A  B
0  0  5
1  1  6
2  2  7
3  3  8

- "A"や"B"はcolumn名を指定しています。
- indexは指定していないなので、0から始まる整数が自動的に割り当てられます。
- Listの場合は、np_arrayを[]に変えればいいです。